/* ==[ Document ] ========================================================================================= */

:root {
	--control-size: 30px;
	--control-corners: 6px;
	--font-size: 10pt;
}

html {
	color-scheme: dark;
	background-color: #000;
	color: #999;
	font: var(--font-size) monospace;
}

body {
	margin: 0;
}

a, a:visited {
	color: #59f;
}

a:hover {
	color: #99f !important;
}

:focus-visible {
	outline: 0px solid transparent;
}

.hidden {
	display: none !important;
}

option {
	background: #000000;
	font-size: var(--font-size);
}

/* ==[ Containers ] ======================================================================================= */

.container-expanded {
	height: 100%;
}

.container-expanded + #container-scroll {
	display: none;
}

#container-fixed {
	display: flex;
	flex-direction: column;
	max-width: 1028px;
	max-height: 100vh;
}

#container-scroll {
	max-width: 1028px;
	width: 100%;
	margin-top: 0px;
	overflow-y: center;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

footer {
	margin-left: 7px;
}

/* ==[ Canvas ] =========================================================================================== */

#canvas-container {
	display: flex;
	flex-shrink: 0;
	position: relative;
	box-sizing: border-box;
	border: 2px solid #222;
	overflow: hidden;
	cursor: pointer;
}

#canvas-main {
	width: 100%;
	height: auto;
}

#canvas-timecursor {
	position: absolute;
	top: 0;
	bottom: 0;
	border-left: 2px solid #59f;
    border-radius: 12px;
	left: 0;
}

/* ==[ Canvas play/pause button ] ========================================================================= */

#canvas-container:hover > #canvas-play {
	display: block;
	background-image: linear-gradient(to bottom, #transparent, #transparent) !important;
    color: #59f;
}

.canvas-initial {
	display: block !important;
	background-image: linear-gradient(to bottom, #transparent, #transparent);
}

.canvas-pause > #svg-canvas-play, .canvas-play > #svg-canvas-pause {
	display: none;
}

#canvas-play {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0px 0px;
	border-radius: 365px;
	color: #999;
	line-height: 0;
	transform: translate(-50%, -50%);
}

#canvas-play > svg {
	width: 46px;
	height: 46px;
	fill: currentColor;
}

.canvas-play-backward > #svg-canvas-play {
	transform: scaleX(-1);
}

/* ==[ Editor ] =========================================================================================== */

button[name="close"] {
	color: #000;
}

.container-expanded > #editor-container {
	flex: auto;
}

#editor-container {
	width: calc(100% - 4px);
	height: 256px;
	border: 2px solid #000;
	resize: vertical;
	overflow: hidden;
}

#editor-default {
	width: 100%;
	height: 100%;
	padding: 3px 3px 3px 33px;
	border: none;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	font: var(--font-size)/var(--font-size) monospace;
	outline: none;
	resize: none;
}

.cm-content {
	font-weight: bold;
	caret-color: #fff !important;
}

.cm-editor {
	height: 100%;
	background-color: #000;
}

.cm-scroller {
	line-height: var(--font-size) !important;
}

.cm-matchingBracket, .cm-selectionMatch {
	margin: -1px;
	border: 1px solid #000;
	border-radius: 0px;
}

.cm-searchMatch-selected {
	background-color: #111 !important;
}

.cmt-number {
	color: #999;
}

.cmt-keyword, .cmt-operator {
	color: #999;
}

.cmt-propertyName {
	color: #999;
}

.cmt-punctuation, .cmt-variableName {
	color: #999;
}

.cmt-string {
	color: #999;
}

#error {
	color: #ff0000;
	word-break: break-all;
}

::selection {
	background-color: #59f !important;
}

/* ==[ Library ] ========================================================================================== */

.code-text {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	color: #d88c87;
	background: none;
	font: var(--font-size)/16px monospace;
	text-align: left;
	text-decoration: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	user-select: text;
	cursor: pointer;
}

.code-text:hover {
	color: #ffb0b0 !important;
}

.code-button {
	margin: 1px 0 0 6px;
	padding: 2px 6px;
	border: none;
	border-radius: 3px;
	background-image: linear-gradient(to bottom, #000, #000);
	color: #999;
	font: var(--font-size)/var(--font-size) monospace;
	white-space: nowrap;
	cursor: pointer;
}

.code-button:hover {
	background-image: linear-gradient(to bottom, #999, #999);
	color: #000;
}

.code-length, .code-info {
	color: #555;
	cursor: default;
}

.code-stereo {
	color: #1fff00;
}

.entry {
	position: relative;
}

.entry-children > .entry:not(:last-child) {
	margin-bottom: 4px;
}

.entry-children > .entry::before {
	content: "\25CF";
	position: absolute;
	top: 2px;
	left: -11px;
	color: #000;
	font-size: 12px;
}

.entry-children > .entry > .entry-children {
	margin-left: 11px;
}

.entry.star-white::before, .entry.star-yellow::before {
	content: "\2605";
	position: absolute;
	top: 0;
	left: -14px;
	font-size: var(--font-size);
}

.entry.star-white::before {
	color: #000;
}

.entry.star-yellow::before {
	color: #000;
}

.entry-top {
	padding: 6px 4px 8px 16px;
}

.entry-top:not(:first-child) {
	border-top: 1px solid #999;
}

.library-content {
	margin: 7px 0;
	border-right: 0px solid #999;
	border-bottom: 0px solid #999;
	border-left: 0px solid #999;
	border-radius: 0px;
	background: #000;
}

.library-header {
	padding: 2px 8px;
	border-radius: 0px;
	background-image: linear-gradient(to bottom, #000, #000);
	cursor: pointer;
}

.library-header:hover, .library-header:focus-visible {
	background-image: linear-gradient(to bottom, #000, #000);
	color: #59f;
}

.library-header > h1 {
	display: inline;
	margin: inherit;
	font-size: var(--font-size);
}

.loading-error {
	text-align: center;
	color: #ff0000;
}

@keyframes wait-anim {
	to { transform: rotate(360deg); }
}

.loading-wait {
	width: 16px;
	height: 16px;
	margin-left: 6px;
	vertical-align: top;
	animation: wait-anim 1s linear infinite;
}

/* ==[ Controls ] ========================================================================================= */

.control-button, .control-select {
	height: var(--control-size);
	padding: 0;
	border: none;
    border-radius: var(--control-corners);
	background-image: linear-gradient(to bottom, #000, #000);
	color: #999;
	font: bold var(--font-size)/var(--control-size) monospace;
	cursor: pointer;
}

.control-button[disabled] {
	opacity: 0.5;
	cursor: default;
}

.control-button:not([disabled]):hover, .control-select:hover {
	background-image: linear-gradient(to bottom, #000, #000);
	color: #59f;
}

.control-button:not([disabled]):active, .control-select:active  {
	background-image: linear-gradient(to bottom, #000, #000);
}

.control-button > svg {
	width: var(--control-size);
	height: var(--control-size);
	fill: currentColor;
}

#control-codesize {
	min-width: 56px;
	cursor: default;
}

#control-codesize, #control-counter, #control-samplerate {
	height: var(--control-size);
	padding: 0 4px;
	background: linear-gradient(to top, #000, #000);
	color: #59f;
	border: none;
	font: bold var(--font-size)/var(--control-size) monospace;
}

#control-counter {
	width: 83px;
	border-radius: 0 var(--control-corners) var(--control-corners) 0;
}

#control-counter-units {
	width: 32px;
	text-align: center;
	user-select: none;
}

.control-fast > .svg-play, .control-play > .svg-fast, .control-play > .control-fast-multiplier {
	display: none;
}

.control-fast-multiplier {
	position: absolute;
}

#control-play-backward, #control-play-forward {
	position: relative;
}

#control-play-backward > .control-fast-multiplier {
	right: 5px;
}

#control-play-backward > .control-fast-multiplier-large {
	right: 4px;
	letter-spacing: -2px;
}

#control-play-backward > svg {
	transform: scaleX(-1);
}

#control-play-forward > .control-fast-multiplier {
	left: 5px;
}

#control-play-forward > .control-fast-multiplier-large {
	left: 2px;
	letter-spacing: -2px;
}

#control-rec.control-recording {
	color: #ff0000;
}

@keyframes blink {
	50% { opacity: 0.0; }
}

.control-recording > svg {
	animation: blink 1s step-start 0s infinite;
}

#control-samplerate {
	width: 56px;
	border-radius: var(--control-corners) 0 0 var(--control-corners);
}

#control-samplerate-select {
	width: 22px;
	font-size: 0;
	border-radius: 0 var(--control-corners) var(--control-corners) 0;
}

.control-select {
	padding-left: 2px;
	border: none;
}

.control-select > option {
	color: #000;
}

#control-volume {
	flex-grow: 1;
	appearance: none;
	height: 10px;
	margin: 10px 0;
	border-radius: 0px;
	background-color: #222;
	align-self: center;
}

#control-volume::-moz-range-thumb {
	width: 10px;
	height: var(--control-size);
	border: none;
	border-radius: 4px;
	background-image: linear-gradient(to bottom, #000, #000);
	cursor: pointer;
}

#control-volume::-moz-range-thumb:hover {
	background-image: linear-gradient(to bottom, #90a7f, #3f4c71);
}

#control-volume::-webkit-slider-thumb {
	appearance: none;
	width: 10px;
	height: var(--control-size);
	border: none;
	border-radius: 0px;
	background-image: linear-gradient(to bottom, #59f, #59f);
	cursor: pointer;
}

#control-volume::-webkit-slider-thumb:hover {
	background-image: linear-gradient(to bottom, #89b8ff, #89b8ff);
}

.controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2px;
	padding: 0px 0;
}

.controls-group {
	display: flex;
}

.controls-group > .control-button {
	border-left: 1px solid #000;
	border-radius: 0;
}

.controls-group > :first-child {
	border: none;
	border-radius: var(--control-corners) 0 0 var(--control-corners);
}

.controls-group > :last-child {
	border-radius: 0 var(--control-corners) var(--control-corners) 0;
}

.controls-grow, .controls-grow > input {
	flex-grow: 1;
}

/* ==[ Adaptive screen ] ================================================================================== */
@media screen and (max-height: 768px) and (min-width: 768px) {
	#container-fixed {
		flex-shrink: 0;
		max-width: 516px;
		height: 100%;
	}

	#container-scroll {
		display: block !important;
		height: 100%;
		margin-top: 0;
		margin-left: 6px;
		padding-right: 6px;
	}

	#content {
		flex-flow: row;
		align-items: start;
	}

	#control-counter {
		width: 66px;
	}

	#control-expand {
		display: none;
	}

	#editor-container {
		flex: auto;
		resize: none;
	}
}

@media screen and (max-width: 512px) {
	#editor-container {
		height: calc(100vw/2);
	}
}

@media screen and (max-width: 768px) {
	#container-fixed, #container-scroll {
		max-width: 516px;
	}

	#control-counter {
		width: 66px;
	}
}

@media screen and (min-width: 1440px) {
	#container-fixed {
		flex-shrink: 0;
		height: 100%;
	}

	#container-scroll {
		display: block !important;
		max-width: initial;
		height: 100%;
		margin-top: 0;
		margin-left: 6px;
		padding-right: 6px;
	}

	#content {
		flex-flow: row;
		align-items: start;
	}

	#control-expand {
		display: none;
	}

	#editor-container {
		flex: auto;
		resize: none;
	}
}

@media screen and (max-width: 768px) {
	#container-fixed, #container-scroll {
		max-width: 516px;
	}
}

@media screen and (min-width: 1440px) {
	#container-fixed {
		flex-shrink: 0;
		height: 100%;
	}

	#container-scroll {
		display: block !important;
		height: 100%;
		margin-top: 0;
		margin-left: 6px;
		padding-right: 6px;
	}

	#content {
		flex-flow: row;
		align-items: start;
	}

	#control-expand {
		display: none;
	}

	#editor-container {
		flex: auto;
		resize: none;
	}
}

